*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
    background-color: yellow;
    color:black;
    padding: 5px 0px 5px 5px;
    margin-block: 20px;
}
p{
    background-color: red;
    padding: 4px 0px 4px 10px;
}