
#Root{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
#Root div p{
    font-size: 20px;
    margin-top: 10px;
}

.Run-Veeket{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Run-Veeket button{
    padding: 10px 20px;
    cursor: pointer;
}
span{
    margin-inline: 4px;
}


