*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#Root{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
}
#Root div p{
    font-size: 20px;
    margin-top: 10px;
}

.Run-Veeket{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Run-Veeket button{
    padding: 10px 20px;
    cursor: pointer;
}